/* AddProduct.css */
.add-product-form {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #076751;
    color: rgb(0, 166, 255);
    padding: 10px;
    border: black;
    cursor: pointer;
  }
  button:hover {
    background-color: #0c1703;
  }